{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase" >
  <div class="container text-center" >
    <div class="home-search p-5" style="background-color:rgb(16, 16, 19);">
      <div class="overlay p-5" style="background-color:rgb(16, 16, 17);">
        <h1 class="display-4 mb-4">Property Searching Just Got So Easy and Fast</h1>
        <p class="lead">
          Property management is the operation, control, maintenance,
          and oversight of real estate and physical property.
          This can include residential, commercial, and land real estate.
        </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Pool, Garage, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="City"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">State (All)</option>
                  {% for key,value in state_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                  {% for key,value in bedroom_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled"
                    >Max Price (Any)</option
                  >
                  {% for key,value in price_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-danger btn-block mt-4" type="submit" style="background:RGB(23, 162, 184);">
              Submit form
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Properties</h3>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" />
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ listing.price | intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }},
                    {{ listing.zipcode }}
                  </p>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}
                  </div>
                  <div class="col-6"><i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                  <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6"><i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                </div>
                <hr />
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block"
                  >More Info</a
                >
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No listings available</p>
        </div>
      {% endif %}
</section>

<section id="" class="py-5 text-white" style="background-color:black;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-cogs fa-4x mr-4"></i>
        <hr />
        <h3>Consultation Services</h3>
        <p>
          Our management consulting services concentrate on the most important problems and 
          opportunities for our clients: strategy, marketing, structure, operations, technology, 
          digital, advanced analytics, corporate finance, mergers & acquisitions, and sustainability
           across all markets and regions.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Property administration</h3>
        <p>
          A third-party contractor's daily control over residential, commercial, or industrial real estate is known as property management.
In general, property managers are accountable for continuing maintenance, security, and upkeep of properties as well as daily repairs. They typically work with those who own investment assets including shopping malls, industrial parks, private home communities, and apartment and condominium buildings.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-money-bill-alt fa-4x mr-4"></i>
        <hr />
        <h3>Renting</h3>
        <p>
          Renting can provide you a sense of security as you know you can go back to your house.
          Renting out your property and moving back in when you return may be less expensive than selling your home and then buying a new one.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
